html {
  font-size: 14px; 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(241, 248, 248);
  }

/* main page */
/* <!-- https://css-tricks.com/snippets/css/a-guide-to-flexbox/ --> */

div.flexcontainer
{
  display: flex;        
  align-content: center;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.SCM
{
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  font-family: Tahoma;
  background-color: #668DB1;
  padding: 4px;
}

/* NUP button */
button.copyprocess {
  background: none!important;
  border: none;
  padding: 0!important;
  text-decoration: underline;
  cursor: pointer;
}
/* click effect */
button.copyprocess:active {
  background-color: #3e8e41;
  box-shadow: 0 1px #666;
  transform: translateY(4px);
}


/* table iestudo */

.tablecontainer {
  display: flex;
  align-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.navbarcontainer {
  display: flex;    
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-size: medium;   
  border: #3e8e41;
  background: burlywood;
  padding: 0.5%;
  text-decoration: none;
  border: 3px solid white;
  color: black;
}

/* old styling sheets */

/* dont need attributes 'group', 'display' for styling */

#iestudo th {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  border: none;      
}

#iestudo td { /* default settings */   
  border: none;
  text-align: center;      
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;    
}

#iestudo tr[evindex='0']:not([evn='1']) td:nth-child(6){ /* has events - mark bold */      
  font-weight: bolder;  
  border-radius: 10px;  
  border: 1px solid black;    
} 
#iestudo tbody tr[ativo='não'] { /* mark dead processes */
  color: rgb(148, 13, 40);      
}
#iestudo tbody tr[ativo='sim'] { /* mark dead processes */
  color: blue;      
}

/* eventos que ativam ou inativam um processo */
#iestudo tbody tr[inativ='-1'] { /* mark inative events */
  font-weight: bolder;
  color: red;
}
#iestudo tbody tr[inativ='1'] { /* mark activate events */
  font-weight: bolder;
  color: black;
}

/* Descrição (6) must be readable completely */
#iestudo tr td:nth-child(6) { 
  max-width: fit-content !important; 
}
/* OBS(7) DOU(8)
 set max-width with rem - 
don't need to read at first glance */
#iestudo tr td:nth-child(10), 
#iestudo tr td:nth-child(11) {
  max-width: 15rem !important;
} 

.tooltipstyle { max-width: 20%; }

#iestudo tr.c0 { background-color: lightgray;   }
#iestudo tr.c1 { background-color: white;   }
#iestudo tr:hover { background-color: rgb(180, 180, 180) !important; }

#prioridade { font-weight: bold; }
#prioridade_data { font-weight: bold; background-color: white; color: red;}